body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-image: url('Cross.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    color: aqua;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;    
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
}

#visitorType{
    color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
}
#inputVisitor{
     color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
}
#clearList{
     color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
    border-color: black;
}

#myVisitorName{
     color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
    font-size: 20px;
}
#roll{
    color: yellow;
    font-size: 20px;
    border-radius: 18px;
}

#roll li{
    margin: 10px 0;
    padding: 5px 10px;
    background-color: rgb(0,0,0,0.6);
    border-radius: 10px;
    list-style: none;
}
#roll li:hover{
    background-color: rgb(14, 13, 13);
}
#roll .rsvpButton {
  margin-left: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}

#roll .rsvpButton:hover {
  background-color: darkgreen;
}

#roll .deleteButton {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}

#roll .deleteButton:hover {
  background-color: darkred;
}
