body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-image: url('Cross.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    color: aqua;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;    
}
p{
    color: rgb(5, 5, 5);
    font-size: 20px;
    text-align: center;
}

#visitorType{
    color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
}
#inputVisitor{
     color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
}
#clearList{
     color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
    border-color: black;
}

#myVisitorName{
     color: rgb(8, 177, 59);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 18px;
    background-color: black;
    font-size: 20px;
}
#roll{
    color: yellow;
    font-size: 20px;
    border-radius: 18px;
}